<h2>List Items</h2>
<?php if (count($this->records)): ?>
<div id="records">
  <form method="post" action="<?php echo $this->url(array(), 'admin-catalog-delete'); ?>">
    <table>
      <tr>
        <td></td>    
        <td class="key">
          Item ID
        </td>
        <td class="key">
          Title
        </td>
        <td class="key">
          Denomination
        </td>
        <td class="key">
          Country
        </td>
        <td class="key">
          Grade
        </td>
        <td class="key">
          Year
        </td>    
        <td></td>    
        <td></td>    
      </tr>
      <?php foreach ($this->records as $r):?>
      <tr>
        <td><input type="checkbox" name="ids[]" value="<?php echo $r['RecordID']; ?>" style="width:2px" /></td>
        <td><?php echo $this->escape($r['RecordID']); ?></td>
        <td><?php echo $this->escape($r['Title']); ?></td>
        <td><?php echo $this->escape(sprintf('%1.2f', $r['Denomination'])); ?></td>
        <td><?php echo $this->escape($r['Square_Model_Country']['CountryName']); ?></td>
        <td><?php echo $this->escape($r['Square_Model_Grade']['GradeName']); ?></td>
        <td><?php echo $this->escape($r['Year']); ?></td>    
        <td><a href="<?php echo $this->url(array('id' => $r['RecordID']), 'admin-catalog-display'); ?>">Display</a></td>    
        <td><a href="<?php echo $this->url(array('id' => $r['RecordID']), 'admin-catalog-update'); ?>">Update</a></td>    
      </tr>  
      <?php endforeach; ?>
      <tr>
        <td colspan="9"><input type="submit" name="submit" style="width:150px" value="Delete Selected" /></td>
      </tr>    
    </table>
  </form>
</div>

<?php else: ?>
No records found
<?php endif; ?>
